# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
!*.obj.*
!OpenGLEngine/Assets/**/*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/.vs

# Build output
x64/
Debug/
Release/
/OpenGLEngine/x64
/OpenGLEngine/.vscode
OpenGLEngine/OpenGLEngine.vcxproj
OpenGLEngine/OpenGLEngine.vcxproj
OpenGLEngine/OpenGLEngine.vcxproj.filters
